.grey-outline {
  background: rgba(245,247,245,1);
  opacity: 1;
  padding: 20px;
  background-position: center;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px; 
  max-width: 980px !important
  }

  .h {
    color: rgba(32,58,40,0.9800000190734863);
    position: absolute;
    top: 125px;
    left: 40px;
    font-family: Baloo Bhai;
    font-weight: bold;
    font-size: 24px;
    opacity: 1;
    text-align: left;
    padding-left: 200px;
  }


