* {
  overflow-x: hidden;
  padding: 0px !important;
  margin: 0px !important;
}
.v1132_68 {
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 659px;
height: 576.67px;
left: 242px;
top: 158px;

filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.v1132_82 {
  width: 284px;
  color: rgba(32,58,40,0.9800000190734863);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Baloo Bhai;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1132_83 {
  width: 659px;
  height: 87px;
  background: url("../images/v1132_83.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 59px;
  left: 0px;
  overflow: hidden;
}
.v1132_84 {
  width: 659px;
  height: 87px;
  background: url("../images/v1132_84.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1132_85 {
  width: 659px;
  height: 87px;
  background: rgba(245,247,245,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  overflow: hidden;
}
.v1132_86 {
  width: 485px;
  height: 58px;
  background: url("../images/v1132_86.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 64px;
  overflow: hidden;
}
.v1132_87 {
  width: 240px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 245px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1132_88 {
  width: 198px;
  color: rgba(32,58,40,0.9800000190734863);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Baloo Bhai;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v1132_89 {
  width: 659px;
  height: 87px;
  background: url("../images/v1132_89.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 167px;
  left: 0px;
  overflow: hidden;
}
.v1132_90 {
  width: 659px;
  height: 87px;
  background: url("../images/v1132_90.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1132_91 {
  width: 659px;
  height: 87px;
  background: rgba(245,247,245,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  overflow: hidden;
}
.v1132_92 {
  width: 485px;
  height: 58px;
  background: url("../images/v1132_92.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 64px;
  overflow: hidden;
}
.v1132_93 {
  width: 240px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 245px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1132_94 {
  width: 161px;
  color: rgba(32,58,40,0.9800000190734863);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Baloo Bhai;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v1132_95 {
  width: 659px;
  height: 87px;
  background: url("../images/v1132_95.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 274px;
  left: 0px;
  overflow: hidden;
}
.v1132_96 {
  width: 659px;
  height: 87px;
  background: url("../images/v1132_96.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1132_97 {
  width: 659px;
  height: 87px;
  background: rgba(245,247,245,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  overflow: hidden;
}
.v1132_98 {
  width: 485px;
  height: 54px;
  background: url("../images/v1132_98.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 64px;
  overflow: hidden;
}
.v1132_99 {
  width: 240px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 5px;
  left: 245px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1132_100 {
  width: 221px;
  color: rgba(32,58,40,0.9800000190734863);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Baloo Bhai;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v1132_158 {
  width: 659px;
  height: 87px;
  background: url("../images/v1132_158.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 381px;
  left: 0px;
  overflow: hidden;
}
.v1132_159 {
  width: 659px;
  height: 87px;
  background: url("../images/v1132_159.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1132_160 {
  width: 659px;
  height: 87px;
  background: rgba(245,247,245,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  overflow: hidden;
}
.v1132_161 {
  width: 485px;
  height: 54px;
  background: url("../images/v1132_161.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 65px;
  overflow: hidden;
}
.v1132_162 {
  width: 240px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 6px;
  left: 245px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1132_163 {
  width: 130px;
  color: rgba(32,58,40,0.9800000190734863);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Baloo Bhai;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v1132_152 {
  width: 659px;
  height: 87px;
  background: url("../images/v1132_152.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 489px;
  left: 0px;
  overflow: hidden;
}
.v1132_153 {
  width: 659px;
  height: 87px;
  background: url("../images/v1132_153.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1132_154 {
  width: 659px;
  height: 87px;
  background: rgba(245,247,245,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  overflow: hidden;
}
.v1132_155 {
  width: 485px;
  height: 54px;
  background: url("../images/v1132_155.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 65px;
  overflow: hidden;
}
.v1132_156 {
  width: 240px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 19px;
  left: 245px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1132_157 {
  width: 130px;
  color: rgba(32,58,40,0.9800000190734863);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Baloo Bhai;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}

.v123_1{
  position: absolute;
  width: 356px;
  height: 429px;
  left: 1000px;
  top: 218px;

}

.v123_2{
  position: absolute;
width: 614px;
height: 61px;
left: 244px;
top: 29px;

font-family: Baloo Bhai;
font-style: normal;
font-weight: normal;
font-size: 65px;
line-height: 104px;

border: 1px solid rgba(33, 58, 40, 0.98);
}