/* Reset Default Margins Applied by browser */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}


blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

body {
  font-family: "Baloo Bhai 2";
}


.Grid {
  display: grid;
  grid-template-columns: 15% 40% 40%;
  grid-gap: 2%;
}

/* -------------------------------- Side Bar Start -------------------------------- */

.SideBar {
  grid-column: 1 / 3;
  box-sizing: border-box;
  background-color: #213A28;
  position: fixed;
  left: 3em;
  border-radius: 1.5em;
  height: 95%;
  margin: 1.25% 0em;
  box-shadow: 15px 15px 40px -15px rgba(33, 58, 40, .66);
}

/* Giving the exit icon a place to reference its absolute position from */

.SideBarR {
  position: relative;
}

.Logo {
  padding: 3em 1em 0em 2.1em;
}

.SideBarIconSection {
  display: block;
  padding: 1em 2em;
}

.SideBarIconSection li {
  padding: 0;
  text-align: center;
  list-style-type: none;
  margin: 3em 0;
}

.exit {
  position: absolute;
  bottom: 5%;
  left: calc(50% - 27px/2);
  padding: 0 auto;
}

/* -------------------------------- Side Bar Ends -------------------------------- */

/* -------------------------------- Header Starts -------------------------------- */

/*Grid Are Defined */

.left {
  grid-column: 2 / 1 span;
}

.right {
  grid-column: 3 / 1 span;
}

.S-flex {
  display: flex;
  margin-top: 1.5em;
}

.SBar {
  background-color: #F5F7F5;
  width: 20em;
  border-radius: 1em;
  position: relative;
  margin-right: 2em;
  border: none;
}


.SBar img {
  position: absolute;
  top: calc(50% - 11px);
  left: .5em;
}

.header {
  margin-top: 2em;
}

.title {
  color: #49885A;
  font-size: 4.3em;
  -webkit-text-stroke: #213A28 3px;
}

.SBar-Icons img {
  padding: 0 1em;
  vertical-align: middle;
}

/* -------------------------------- Header Ends -------------------------------- */

/* -------------------------------- Hero Starts -------------------------------- */

.hero{
  background-color: #F5F7F5;
  border-radius: 1em;
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
  padding: 0 2em;
}

.hero .text{
  margin: auto 0;
}

.hero .text h1{
  font-size: 2.5em;
  font-weight: bold;
}

.hero .text h2{
  font-size: 1.2em;
  font-weight: 500;
}

/* -------------------------------- Hero Ends -------------------------------- */

/* -------------------------------- Friend Start -------------------------------- */

.friend {
  margin-top: 2em;
}

.friend-flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}

.friends-t{
  font-size: 2em;
  color: #213A28;
}

.friend div ul {
  display: flex;
}

.friend div ul li {
  list-style-type: none;
  padding: 0 2em 0 0;
  margin-top: 1em;
  font-weight: 900;
  font-size: 1.2em;
  color: #213A28;
  opacity: .5;
}

.friend div ul .selected {
  opacity: 1;
}

.add-friend-box {
  background-color: #213A28;
  width: 16em;
  position: relative;
  border-radius: 1em;
}

.add-t{
  color: #ffffff;
  margin: auto auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 1.3em;
}

.add-t span{
  font-size: 3rem;
  vertical-align: middle;
  margin-right: .5em;
}

.friend-list{
  list-style-type: none;
}

.friend-list li {
  display: flex;
  background-color: #F5F7F5;
  padding: 1em;
  justify-content: space-between;
  align-items: center;
  border-radius: 1.3em;
}

.friend-list li .intro{
  display: flex;
  align-items: center;
}

.friend-list li .intro .profile {
  float: left;
  background-color: white;
  width: 5em;
  height: 5em;
  border-radius: 1em;
  margin-right: 2em;
}

.friend-list li .intro .person h1 {
  color: #213A28;
  font-size: 1.2em;
  margin-bottom: .5em;
}

.friend-list li .intro .person h2 {
  font-weight: 500;
  color: #213A28;
}

.friend-list li  .more-intro{
  background-color: #213A28;
  padding: 1em 2em;
  border-radius: .7em;
}

.friend-list li  .more-intro .details{
  color: #ffffff;
  font-size: 1.2em;
}


