<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
        <link href="/static/css/friend_info.css" rel="stylesheet" />
        <title>Document</title>
    </head>
    <body>
        <div class="v1132_68">
            <span class="v1132_82">About</span>
            <div class="v1132_83">
                <div class="v1132_84">
                    <div class="v1132_85"></div>
                    <div class="v1132_86"><span class="v1132_87">He/him</span><span class="v1132_88">Pronouns</span></div>
                </div>
            </div>
            <div class="v1132_89">
                <div class="v1132_90">
                    <div class="v1132_91"></div>
                    <div class="v1132_92"><span class="v1132_93">gluten free, dairy free</span><span class="v1132_94">Alergies</span></div>
                </div>
            </div>
            <div class="v1132_95">
                <div class="v1132_96">
                    <div class="v1132_97"></div>
                    <div class="v1132_98"><span class="v1132_99">Jan 1, 1997</span><span class="v1132_100">Birthday</span></div>
                </div>
            </div>
            <div class="v1132_158">
                <div class="v1132_159">
                    <div class="v1132_160"></div>
                    <div class="v1132_161"><span class="v1132_162">257 567 7575</span><span class="v1132_163">Phone </span></div>
                </div>
            </div>
            <div class="v1132_152">
                <div class="v1132_153">
                    <div class="v1132_154"></div>
                    <div class="v1132_155"><span class="v1132_156">LIke rum</span><span class="v1132_157">Other</span></div>
                </div>
            </div>
        </div>

        <div class="v123_1">
          <img src="/static/images/jack.jpg">
        </div>
    </body>
</html>