<!DOCTYPE html>
<html>
    <head>
        <link href="/static/css/main.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
        <title>Document</title>
      
    </head>
    <body>
        <div class="v1_377">Good Friend</div>


        <div class="v1_145">
            <div class="v1_146">
                <div class="v1_147">
                    <div class="v1_148"></div>
                    <div class="v1_149"></div>
                </div>
                <div class="v1_150">
                    <div class="v1_151"><div class="v1_152"></div></div>
                </div>
            </div>
            <div class="v1_153">
                <div class="v1_154">
                    <div class="v1_155"></div>
                    <div class="v1_156"></div>
                    <div class="v1_157"></div>
                    <div class="v1_158"></div>
                    <div class="v1_159"></div>
                </div>
                <div class="v1_160"></div>
                <div class="v1_161"></div>
                <span class="v1_162"></span>
            </div>
            <div class="v1_163">
                <div class="v1_164"><div class="v1_165"></div></div>
                <div class="v1_166">
                    <div class="v1_167"><div class="v1_168"></div></div>
                </div>
            </div>
        </div>
        
        <div class="v1_368">
            
            <div class="v1_370">
            
            <div class="v1_372"><img src="/static/images/Vector.png"></div>
            <div class="v1_373"><img src="/static/images/plus.png"></div>
            <div class="v1_374"><img src="/static/images/Group_2.png"></div>  
            <div class="v1_375"><img src="/static/images/Group_6.png"></div>  
            <div class="v1_376"><img src="/static/images/Group_7.png"></div> 
            
            <div class="v1028_2">
                <img src="/static/images/Friend_Icon.png">
            </div>
            </div>
            <div class="name"></div>
        </div>

        <div class="v1_333">
            <div class="v1_334"></div>
            <span class="v1_335">Hello Josh!</span><span class="v1_336">It’s good to see you again.</span>
           
        </div>
        <div class="v1_337"><img src="/static/images/Illustration.png"></div> 
        <div class="v1_169">
            <div class="v1_170">
                <div class="v1_171"></div>
                <div class="v1_172"></div>
                <span class="v1_173">View details</span>
                <div class="v1_174"></div>
                <span class="v1_175">Alice Smith</span><span class="v1_176">She/Her</span>
            </div>
            <div class="v1_192">
                <div class="v1_193"></div>
                <div class="v1_194"></div>
                <span class="v1_195">Anne Hathaway</span><span class="v1_196">She/Her</span><span class="v1_199">View details</span>
                <div class="v1_200"></div>
            </div>
            <div class="v1_222">
                <div class="v1_223"></div>
                <div class="v1_224"></div>
                <span class="v1_225">Jabba the Hut</span><span class="v1_226">They/Them</span><span class="v1_229">View details</span>
                <div class="v1_230"></div>
            </div>
            <div class="v1_241">
                <div class="v1_242"></div>
                <div class="v1_243"></div>
                <span class="v1_244">Gordon Ramsey</span><span class="v1_245">He/Him</span><span class="v1_248">View details</span>
                <div class="v1_249"></div>
            </div>
            <div class="v1_267">
                <div class="v1_268"></div>
                <div class="v1_269"></div>
                <div class="v1_270"></div>
                <span class="v1_271">Jack Sparrow</span><span class="v1_272">He/him</span><span class="v1_275">View details</span>
            </div>
            <span class="v1_292">All Friends</span><span class="v1_293">Best Friends</span><span class="v1_294">Family</span><span class="v1_296">Friends</span>
            <div class="v1_299"></div>
            <span class="v1_301">Add new friend</span><span class="v1028_1">+</span>
        </div>



        <div class="v1_297">
            <div class="v1_320">
                <img src="/static/images/Group_39.png"> 
                <img src="/static/images/Group_31.png"> 
            </div>
            <span class="v1_33">Upcoming events</span>
            <div class="v1_134">
                <div class="v1_140">
                    <div class="v1_141"></div>
                    <div class="v1_142"><span class="v1_143">Alice Smith’s Birthday </span><span class="v1_144">Jan 5</span></div>
                </div>
            </div>
            <div class="v1032_240">
                <div class="v1032_241">
                    <div class="v1032_242"></div>
                    <div class="v1032_243"><span class="v1032_244">Zoom Call with Jack</span><span class="v1032_245">Jan 11</span></div>
                </div>
            </div>
            <div class="v1032_252">
                <div class="v1032_253">
                    <div class="v1032_254"></div>
                    <div class="v1032_255"><span class="v1032_256">Oprah Winfrey’s Birthday</span><span class="v1032_257">Jan 29</span></div>
                </div>
            </div>
        </div>


    </body>
</html>
