<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/Friend_Icon_cropped.png') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;500;600;700;800&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="static/css/style.css">
  <title>GoodFriend - Dashboard</title>
</head>

<body>

  <div class="Grid">
    <div class="SideBar">
      <div class="SideBarR"></div>
      <img class="Logo" src="/static/images/Friend_Icon.png" alt="">
      <ul class="SideBarIconSection">
        <li><a href="/dashboard"><img src="/static/images/Vector.png" alt=""></a></li>
        <li><a href="/add_friend"><img src="/static/images/plus.png" alt=""></a></li>
        <li><a href=""></a><img src="/static/images/Group_2.png" alt=""></li>
        <li><a href=""></a><img src="/static/images/Group_6.png" alt=""></li>
      </ul>
      <img class="exit" src="/static/images/Group_7.png" alt="">
    </div>



    <div class="left header">
      <h1 class="title">Good Friend</h1>
    </div>

    <div class="top">
      <div class="hero">
        <div class="text">
          <h1>Hello Josh !</h1>
          <h2>It's Good to see you again !</h2>
        </div>
        <img src="/static/images/Illustration.png" alt="">
      </div>
    </div>
    

    <div class="left">
      <div class="friend">
        <div class="friend-flex">
          <div>
            <h1 class="friends-t">Friends</h1>
            <ul>
              <!-- You can use backend to chang the class "Selected to be removed and added to any class you want so it looks selected  - Opacity: 1;" -->
              <li class="selected">All Friends</li>
              <li>Best Friends</li>
              <li>Family</li>
            </ul>
          </div>
          <div class="add-friend-box">
            <a href="/add_friend"><h1 class="add-t"><span>+</span>Add new friend</h1></a>
          </div>
        </div>
      </div>

      <!-- When using the backend to add friends to the list add list items (Keyword - li) to the unordered list (Keyword - Ul) -->

      <ul class="friend-list">
        {% for id, name, pronouns in friends %}
        <li><div class="intro" ><div class="profile">
        </div><div class="person"><h1 class="name">{{ name }}</h1><h2 class="pronouns">{{ pronouns}}</h2></div></div>
        <a href= {{ url_for('friend_info', id=id) }}><div class="more-intro"><h1 class="details">View Details</h1></div></a>
        
        </li>
      {% endfor %}
      </ul>
    </div>

    <div class="right">
      <div class="wrong-top">
        <div class="hero">
          <div class="text">
            <h1>Hello Josh !</h1>
            <h2>It's Good to see you again !</h2>
          </div>
          <img src="/static/images/Illustration.png" alt="">
        </div>
      </div>
    


      <h2 class="Sub-title">Upcoming events</h2>

      <!-- Another Unordered list use backend to put li items if u want to change the days with backend -->

      <ul class="calender">
        {% for name,bday in birthdays %}
        <li>
          <h1 class="date">{{bday}}</h1>
          <p class="description">{{name}}'s Birthday</p>
        </li>
        {% endfor %}
      </ul>

    </div>

  </div>
</body>

</html>