<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;500;600;700;800&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/static/css/style.css">
  <title>Document</title>
</head>

<body>

  <div class="Grid">
    <div class="SideBar">
      <div class="SideBarR"></div>
      <img class="Logo" src="/static/images/Friend_Icon.png" alt="">
      <ul class="SideBarIconSection">
        <li><a href="/dashboard"><img src="/static/images/Vector.png" alt=""></a></li>
        <li><a href="/add_friend"><img src="/static/images/plus.png" alt=""></a></li>
        <li><a href=""></a><img src="/static/images/Group_2.png" alt=""></li>
        <li><a href=""></a><img src="/static/images/Group_6.png" alt=""></li>
      </ul>
      <img class="exit" src="/static/images/Group_7.png" alt="">
    </div>



    <div class="left header">
      <h1 class="title">Good Friend</h1>
    </div>

    <div class="right header">
      <div class="S-flex">
        <div class="SBar"><img src="/static/images/Group_35.png" alt=""></div>
        <div class="SBar-Icons">
          <img src="/static/images/Notification.png" alt="">
          <img src="/static/images/ProfilePicture.png" alt="">
        </div>
      </div>
    </div>



    <div class="left">

      <div class="hero">
        <div class="text">
          <h1>Hello Josh !</h1>
          <h2>It's Good to see you again !</h2>
        </div>
        <img src="/static/images/Illustration.png" alt="">
      </div>

      <div class="friend">
        <div class="friend-flex">
          <div>
            <h1 class="friends-t">Friends</h1>
            <ul>
              <!-- You can use backend to chang the class "Selected to be removed and added to any class you want so it looks selected  - Opacity: 1;" -->
              <li class="selected">All Friends</li>
              <li>Best Friends</li>
              <li>Family</li>
            </ul>
          </div>
          <div class="add-friend-box">
            <a href="/add_friend"><h1 class="add-t"><span>+</span>Add new friend</h1></a>
          </div>
        </div>

        <!-- When using the backend to add friends to the list add list items (Keyword - li) to the unordered list (Keyword - Ul) -->

        <ul class="friend-list">
            <li><div class="intro" ><div class="profile">
                </div><div class="person"><h1 class="name">Jack Sparrow</h1><h2 class="pronouns">He/him</h2></div></div>
                <div class="more-intro"><h1 class="details">View Details</h1></div>
            </li>

            <li><div class="intro" ><div class="profile">
              </div><div class="person"><h1 class="name">Jack Sparrow</h1><h2 class="pronouns">He/him</h2></div></div>
              <div class="more-intro"><h1 class="details">View Details</h1></div>
            </li>

            <li><div class="intro" ><div class="profile">
              </div><div class="person"><h1 class="name">Jack Sparrow</h1><h2 class="pronouns">He/him</h2></div></div>
              <div class="more-intro"><h1 class="details">View Details</h1></div>
          </li>

          <li><div class="intro" ><div class="profile">
            </div><div class="person"><h1 class="name">Jack Sparrow</h1><h2 class="pronouns">He/him</h2></div></div>
            <div class="more-intro"><h1 class="details">View Details</h1></div>
          </li>


        </ul>

      </div>



    </div>
  </div>
</body>

</html>