<!-- <html>
<meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.united.css') }}">
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->



<!-- Bootstrap Date-Picker Plugin -->
<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>


<link href="/static/css/main.css" rel="stylesheet" />
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

  <div class="SideBar">
    <div class="SideBarR"></div>
      <img class="Logo1" src= "/static/images/Friend_Icon.png">
      <li class="SideBarIconSection">
        <ul><a href=""></a><img src="/static/images/Vector.png" alt=""></ul>
        <ul><a href=""></a><img src="/static/images/plus.png" alt=""></ul>
        <ul><a href=""></a><img src="/static/images/Group_2.png" alt=""></ul>
        <ul><a href=""></a><img src="/static/images/Group_6.png" alt=""></ul>
      </li>
      <img class="exit" src="/static/images/Group_7.png" alt="">
    </div>
   
   <div class="content">
      <header>
        <h1>Good Friend</h1>
        <div class="SBar"></div> 
      <img src="Img/Notification.png" alt="">
      <img src="Img/Profile picture.png" alt="">
    </header>
    </div>  -->






<!-- 
<div> -->


  <!-- <div class="container-fluid" style="max-width: 993px !important">
    <h1>{% block page_title %}{% endblock %}</h1>
    
    <p>{% block body %}{% endblock %}</p>
  </div>
</div> -->




</html> -->
